@font-face {
   font-family: 'Lato-Hairline';
   src: url('Lato-Hairline/font.ttf');
}
@font-face {
   font-family: 'Lato-Bold';
   src: url('Lato-Bold/font.ttf');
}
@font-face {
   font-family: 'Lato-Thin';
   src: url('Lato-Thin/font.ttf');
}
